
#menu-toggle {
    display: none !important;
}

nav#sidebarMenu {
    display: none !important;
}

main[role="main"] {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100.0% !important;
    margin-left: 0 !important;
}

nav.navbar{
    visibility: hidden;
}